<ng-container class="container">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name<a (click)="sortUser('name')"> Sort</a></th>
      <th>Date of birth<a (click)="sortUser('dateOfBirth')"> Sort</a></th>
      <th>City<a (click)="sortUser('city')"> Sort</a></th>
      <th>Country<a (click)="sortUser('country')"> Sort</a></th>
    </tr>
    </thead>
    <ng-container *ngIf="users$ | async as users">

      <tbody>
      <tr *ngFor="let user of users | paginate:
          { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems  }; let i = index">
        <app-user (remove)="removeItem(i, user.id)" (saveUser)="saveUser($event)" [user]="user"></app-user>
      </tr>
      </tbody>

      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </ng-container>

  </table>

</ng-container>
